<form data-ng-submit="recherche()" name="myForm">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-btn">
			    <button class="btn btn-warning" type="button" data-ng-click="gps()"> GPS </button>
			</span>
            <input type="search" name="city" ng-model="city" required ng-minlength="3" ng-maxlength="20" class="form-control" />

            <span class="input-group-btn">
                <!-- TP7 : l’attribut nb-disabled rendra cliquable le bouton “rechercher” seulement si le champ de saisie est correctement rempli -->
                <button class="btn btn-primary" type="submit"  ng-disabled="!myForm.$valid"> 
                    Recherche
                </button>
		    </span>
        </div>
    </div>

    <!-- TP7 : ici, on gère l’affichage des messages d’erreur  selon l’état du champ de saisie -->
    <!--<div ng-messages="myForm.city.$error" role="alert">
	    <div ng-message="required" class="label label-danger">Veuillez saisir une ville SVP</div>
	  </div>-->
</form>

<div ng-if="meteo" class="text-center">
    <h2>{{meteo.name}}</h2>
    <img ng-src="https://openweathermap.org/img/w/{{meteo.weather[0].icon}}.png" alt="" />
    <h3>{{meteo.main.temp | number:0}}°</h3>
    {{meteo.weather[0].description}}
</div>

<p ng-if="errorMsg"> {{errorMsg}} </p>